p{
	margin-left: 75px;
}
body{
	background-color:black;
	color:#edeada;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

}

.container{
	color:#edeada;
	text-align:left;
	margin-top: 0;
	background-image: url("assets/images/poster.jpg");
	background-color: black;
	width:600px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}

#white{
	width:600px;
	height: 100px;
	
	margin-right: auto;
	margin-left: auto;
	vertical-align: top;
	
	
	
}

#oval{
	background-color:#edeada;
	text-align: center;
	padding-top: 10px;
	border:solid black 2px;
	color:black;
	margin-left: 225px;
	position: absolute;
	border-radius: 15px;
	height: 30px;
	width:70px;
	padding:7px;

}

#logo{

	background-color: black;
	width:400px;
	height: 100px;
	margin-left: 75px;
	margin-right: auto;
}



.label{
	margin-left: 75px;
	color:#edeada;
	margin-right: 50px;
}

#radio{
	margin-left: 75px;
}

#boom{

}

#wire{
	background-color: red;
	width: 200px;
	height: 60px;
	margin-left: 120px;
	border-radius: 8px;
	border: solid white;
	display: inline-block;
	color:white;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	padding:10px;
}
#wire {
    background-color: red; 
    color: white; 
    border: 2px solid white;
}

#wire:hover {
    background-color: blue;
    color: white;
}

